/* الخلفية العامة */
body {
    background-color: #f4f6f8;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: bold;
}


.main-box {
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    display: inline-block;
}

/* عنوان */
.title {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.text {
    color: #000;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}


.desc {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}
